div.filter{
    position: absolute;
    left: -40px;
    top: 0px;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    background-image: linear-gradient(rgba(255,255,255,0.5) 20%, rgba(255,255,255,0.5) 60%);
}