<div class="background">
    
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    <div class="menuborder">
        <ul class="top">
            <li class="left"><a id="appname" class="notactive" routerLink="/mainpage">Booking App</a></li>
            <li class="left"><a class="active" routerLink="/mainpage/map">Google Map</a></li>
            <li class="left"><a class="active" routerLink="/mainpage/accommodation/accommlist">Accommodation</a></li>
            <div *ngIf="isLoggedIn()">
                <li class="left"><a class="active" routerLink="/mainpage/rooms/roomlist">Rooms</a></li>
                <li class="left"><a class="active" routerLink="/mainpage/country/countrylist">Countries</a></li>   
                <li class="left"><a class="active" routerLink="/mainpage/regions/regionlist">Regions</a></li>
                <li class="left"><a class="active" routerLink="/mainpage/places/placelist">Places</a></li>
                <li class="left"><a class="active" routerLink="/mainpage/accommtypes/accommtypeslist">Accommodation Types</a></li>
                <li class="left"><a class="active" routerLink="/mainpage/comments">Comments</a></li>
                <li class="left"><a class="active" routerLink="/mainpage/reservations">Reservations</a></li>
                <li class="left"><a class="active" routerLink="/mainpage/notifications">Notifications</a></li>
            </div>
            <li class="right"><a id="rightmost" class="notactive"></a></li>
            <div *ngIf="!isLoggedIn()">
                <li class="right"><a class="active" routerLink="/mainpage/login">Log In</a></li>
            </div>
            <div *ngIf="isLoggedIn()">
                <li class="right"><a class="active" routerLink="/mainpage" (click)="logOut()">Log Out</a></li>
                <li class="right"><a id="ime" class="notactive">{{currentUser.username}}</a></li>
            </div>
            
        </ul>
    </div>
    <div class="bottomborder">
    </div>
    <div>
        <ul class="bottom">
            <li class="right"><a class="notactive">Copy Right</a></li>
        </ul>
    </div>
</div>

