<ul class="list">
    <div>
        <div *ngIf="caption != ''">
            <p>{{caption}}</p>
        </div>
        <li *ngFor="let roomres of roomReservations">
            <div class="list">
                <div class="description">
                    Start date: {{roomres.StartDate}}.<br/>
                    End date: {{roomres.EndDate}}.
                </div>
                <a [routerLink]="['/mainpage/reservations/update', roomres.Id]" >Update</a>
                <a [routerLink]="['/mainpage/reservations/reservationlist']" (click)="delete(roomres.Id)">Delete</a>
                <a (click)="finishBooking(roomres)" [routerLink]="['/mainpage/accommodation/accommlist', 1]">Finish Booking</a>
            </div>
            <div class="listseparator">
            </div>
        </li>
    </div>
</ul>