<div class="formborder" id="accommformborder">
    <form #f="ngForm" (ngSubmit)="onSubmitAccomm(f.value, f)">
    <div>
      <label for="Name">Name: </label>
      <input type="text" name="Name" [value]="accommodation.name">
    </div>
    <div>
      <label for="Description">Description: </label>
      <input type="text" name="Description" [value]="accommodation.description">
    </div>
    <div>
      <label for="Address">Address: </label>
      <input type="text" name="Address" [value]="accommodation.address">
    </div>
    <div>
      <label for="Longitude">Longitude: </label>
      <input type="text" name="Longitude" [value]="accommodation.longitude">
    </div>
    <div>
      <label for="Latitude">Latitude: </label>
      <input type="text" name="Latitude" [value]="accommodation.latitude">
    </div>
    <div>
        <input type="file" id="accomPicture" name="imageUrl" value="Choose Image" ngModel/>
    </div>
    <div>
        <label for="Place">Choose place: </label>
        <select name="Place" ngModel>
            <option *ngFor="let p of places" value="{{p.Id}}">{{p.Name}}</option>
        </select>
    </div>
    <div>
        <label for="AccommodationType">Choose accommodation type: </label>
        <select name="AccommodationType" ngModel>
            <option *ngFor="let accommtype of accommTypes" value="{{accommtype.Id}}">{{accommtype.Name}}</option>
        </select>
    </div>
    <div>
        <label for="Owner">Choose owner: </label>
        <select name="Owner" ngModel>
            <option *ngFor="let owner of owners" value="{{owner.Id}}">{{owner.FullName}}</option>
        </select>
    </div>
    <div *ngIf="!isUpdate">
        <input type="submit" value="Add">
    </div>
    <div *ngIf="isUpdate">
        <input type="submit" value="Update">
    </div>
  </form>
</div>