<h1>Comments</h1>
<button (click)="writeComment()">Write a comment</button>
<div *ngIf="writingComment">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
    <div>
      <label for="Grade">Grade</label>
      <input type="text" name="Name" ngModel>
    </div>
    <div>
      <label for="Password">Text</label>
      <input type="text" name="Price" ngModel>
    </div>
    <input type="submit">
  </form>
</div>

<ul>
      <li 
        *ngFor="let comm of comments">
        <div>
            <label> Grade: </label> {{comm.Grade}}
            <label> Text: </label> {{comm.Text}}
        </div>
    </li>
</ul>

<br/>
<button (click)="goBack()">Back</button>