<ul class="list">
      <li *ngFor="let country of countries">
        <div class="listt">
            <div class="description">
                <b><i> Id: </i></b> {{country.Id}}<br/>
                <b><i> Name: </i></b> {{country.Name}}<br/>
                <b><i> Code: </i></b> {{country.Code}}<br/>
            </div>
            <ul class="accommtabmenuu">
                <li class="left"><a class="listlinkk" [routerLink]="['/mainpage/country/update', country.Id]" >Update</a></li>
                <li class="left"><a class="listlinkk" [routerLink]="['/mainpage/country/countrylist/1']" (click)="delete(country.Id)" >Delete</a></li>
            </ul>
        </div>
        <div class="listseparator">
        </div>
    </li>
</ul>
<div>
    <ul>
        <li *ngFor="let num of numeration"><a [routerLink]="['/mainpage/country/countrylist', num]">{{num}}</a></li>
    </ul>
</div>