<div class="formborder" id="roomformborder">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
    <div>
      <label for="Name">Room number: </label>
      <input type="text" name="RoomNumber" [ngModel]="room.roomNumber">
    </div>
    <div>
      <label for="Description">BedCount: </label>
      <input type="text" name="BedCount" [ngModel]="room.bedCount">
    </div>
    <div>
      <label for="Longitude">Description: </label>
      <input type="text" name="Description" [ngModel]="room.description">
    </div>
    <div>
      <label for="Latitude">Price per night: </label>
      <input type="text" name="PricePerNight" [ngModel]="room.pricePerNight">
    </div>
    <div>
        <label for="Owner">Choose accommodation: </label>
        <select name="Accommodation" ngModel>
            <option *ngFor="let accomm of accommodation" value="{{accomm.Id}}">{{accomm.Name}}</option>
        </select>
    </div>
    <div *ngIf="!isUpdate">
        <input type="submit" value="Add">
    </div>
    <div *ngIf="isUpdate">
        <input type="submit" value="Update">
    </div>
  </form>
</div>