<div class="formborder" id="roomformborder">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
        <div>
            <label for="Name">Name: </label>
            <input type="text" name="Name" [ngModel]="country.Name">
        </div>
        <div>
            <label for="Code">Code: </label>
            <input type="text" name="Code" [ngModel]="country.Code">
        </div>
    <div *ngIf="!isUpdate">
        <input type="submit" value="Add">
    </div>
    <div *ngIf="isUpdate">
        <input type="submit" value="Update">
    </div>
    </form>
</div>