/* You can add global styles to this file, and also import other style files */

div.tabheader{
    position: absolute;
    left: 35%;
    color: #333;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.text{
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#accommtabheader{
    position: absolute;
    left: 35%;
}

div#shorttabheader{
    position: absolute;
    left: 45%;
}

div#longtabheader{
    position: absolute;
    left: 30%;
}

div.formborder{
    position: absolute;
    top: 150px;
    left: 100px;
    width: 78%;
    background-image: linear-gradient(rgba(255,255,255,0.9) 100%, rgba(255,255,255,0.9) 100%);
}

div.image{
    background-color: red;
    height: 100px;
    width: 100px;
}

ul.tabmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 78%;
    position: absolute;
    left: 100px;
    top: 90px; 
}

ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 78%;
    position: absolute;
    left: 100px;
    top: 150px; 
}

div.list{
    height: 200px;
    background-image: linear-gradient(rgba(255,255,255,0.9) 100%, rgba(255,255,255,0.9) 100%);
    border: 2px solid #333;
}

div.listseparator{
    height: 15px;
    background-color: transparent;
}

li.left {
    float: left;
}

li.right {
    float: right;
}

li.left {
    float: bottom;
}

li a.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a.active:hover {
    background-color: #111;
    color: white;
    text-decoration:none;
    
}

label{
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img.accommimage{
    height: 100px;
    width: 100px;
}