Add Accommodation

<div>
    <form #f="ngForm" (ngSubmit)="onSubmitAccomm(f.value, f)">
    <div>
      <label for="Name">Name: </label>
      <input type="text" name="Name" ngModel>
    </div>
    <div>
      <label for="Description">Description: </label>
      <input type="text" name="Description" ngModel>
    </div>
    <div>
      <label for="Address">Address: </label>
      <input type="text" name="Address" ngModel>
    </div>
    <div>
      <label for="Longitude">Longitude: </label>
      <input type="text" name="Longitude" ngModel>
    </div>
    <div>
      <label for="Latitude">Latitude: </label>
      <input type="text" name="Latitude" ngModel>
    </div>
    <div>
        <input type="file" id="accomPicture" name="imageUrl" value="Choose Image" ngModel/>
    </div>
    <div>
        <label for="Latitude">Choose place: </label>
        <select>
            <option *ngFor="let place of places" ngModel>{{place.Name}}</option>
        </select>
    </div>
    <div>
        <label for="Latitude">Choose accommodation type: </label>
        <select>
            <option *ngFor="let accommtype of accommTypes" ngModel>{{accommtype.Name}}</option>
        </select>
    </div>
    <!--div>
        <select>
            <option *ngFor="let user of users" ngModel>{{user.fullname}} </option>
        </select>
    </div-->
    <!--div>
        <table>
            <tr>
                <th>Room Number</th>
                <th>Bed Count</th>
                <th>Description</th>
                <th>Price per night</th>
                <th>Accommodation Name</th>
            </tr>
            <tr *ngFor="let room of rooms">
                <td>{{room.RoomNumber}}</td>
                <td>{{room.BedCount}}</td>
                <td>{{room.Description}}</td>
                <td>{{room.PricePerNight}}</td>
                <td>{{room.Accommodation}}</td>
            </tr>
        </table>
    </div-->
    <div>
        <div>
            <h1>Add rooms</h1>
            <form #f="ngForm" (ngSubmit)="onSubmitRoom(f.value, f)">
                <div>
                    <label for="RoomNumber">Room number:</label>
                    <input type="text" name="roomNumber" ngModel>
                </div>
                <div>
                    <label for="Password">Bed count:</label>
                    <input type="text" name="bedCount" ngModel>
                </div>
                <div>
                    <label for="RoomNumber">Price per night:</label>
                    <input type="text" name="pricePerNight" ngModel>
                </div>
                <div>
                    <label for="Password">Descritpion:</label>
                    <input type="text" name="description" ngModel>
                </div>
                <input type="submit" value="Add Room">
            </form>
        </div>
    </div>
    <input type="submit" value="Add Accommodation">
  </form>
</div>