<div *ngIf="isAdd && isAllowed">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
    <div>
      <label for="Grade">Text:</label>
      <input type="text" name="Text" ngModel>
    </div>
    <div>
      <label for="Password">Grade: </label>
      <input type="text" name="Grade" ngModel>
    </div>
    <input type="submit">
  </form>
</div>
<div *ngIf="isLoggedIn()"><br/>
    You will be allowed to post comments after you have visited this accommodation.
</div>
<ul class="list">
    <li *ngFor="let comm of comments">
        <div class="list">
            <label>Text:</label> {{comm.Text}}
            <label>Grade: </label>{{comm.Grade}}
            <label *ngIf="isLoggedIn()"><a [routerLink]="['/mainpage/comments/update', comm.Id]" >Update</a></label>
            <!--<a [routerLink]="['/mainpage/comments/commentlist']" (click)="delete(comm.Id)">Delete</a>-->
        </div>
        <div class="listseparator">
        </div>
    </li>
</ul>