<ul class="list">
    <div>
        <label for="Name">Name: </label>
        <input type="text" [(ngModel)]="nameTerm" id="search" placeholder="Search to type">
    </div>

    <div >
        <li *ngFor="let accommodation of accommodations | AccommodationFilterPipe: nameTerm">
            <div class="list">
                <label> Id: </label> {{accommodation.Id}}.
                <label> Name: </label> {{accommodation.Name}}
                <a [routerLink]="['/mainpage/accommodation/update', accommodation.Id]" >Update</a>
                <a  [routerLink]="['/mainpage/accommodation/roomlist', accommodation.Id]">Rooms</a>
                <a  [routerLink]="['/mainpage/accommodation/comments', accommodation.Id]">Comments</a>
                <a [routerLink]="['/mainpage/accommodation/details', accommodation.Id]" >Details</a>
            </div>
            <div class="listseparator">
            </div>
        </li>
    </div>

</ul>