<ul class="list">
    <div >
        <li *ngFor="let accommodation of accommodations;">
            <div class="list">
                <label> Id: </label> {{accommodation.Id}}.
                <label> Name: </label> {{accommodation.Name}}
                <a (click)="update(accommodation.Id)"  [routerLink]="['/mainpage/accommodation/update']" >Update</a>
                <a  [routerLink]="['/mainpage/accommodation/rooms', accommodation.Id]">Rooms</a>
                <a  [routerLink]="['/mainpage/accommodation/comments', accommodation.Id]">Comments</a>
            </div>
            <div class="listseparator">
            </div>
        </li>
    </div>

</ul>