<ul class="list">
    <div>
        <div *ngIf="caption != ''">
            <p>{{caption}}</p>
        </div>
        <li *ngFor="let room of rooms">
            <div class="listt">
                <div class="description">
                    <label> Accommodation: </label>{{room.Accommodation.Name}}.<br/>
                <label> Room number: </label>{{room.RoomNumber}}.<br/>
                <label> Bed count: </label> {{room.BedCount}}.<br/>
                <label> Description: </label> {{room.Description}}.<br/><br/><br/>
                <label> Price per night: </label>
                <div class="price">{{room.PricePerNight}}$</div>
                </div>
               <label *ngIf="isLoggedIn()"> <ul class="accommtabmenuu">
                    <label *ngIf="(currentuser == 'admin')"><li class="left"><a class="listlinkk" [routerLink]="['/mainpage/rooms/update', room.Id]" >Update</a></li>
                    <li class="left"><a class="listlinkk" [routerLink]="['/mainpage/rooms/roomlist', 1]" (click)="delete(room.Id)" >Delete</a></li></label>
                    <li class="left"><a class="listlinkk" [routerLink]="['/mainpage/accommodation/reservationlist', room.Id]">Book</a></li>
                </ul></label>
            </div>
            <div class="listseparator">
            </div>
        </li>
    </div>
</ul>
<div *ngIf="!accomlist && rooms.length > 0">
    <ul>
        <li *ngFor="let num of numeration"><a [routerLink]="['/mainpage/rooms/roomlist', num]">{{num}}</a></li>
    </ul>
</div>
<div *ngIf="accomlist && rooms.length > 0">
    <ul>
        <li *ngFor="let num of numerationacc"><a [routerLink]="['/mainpage/accommodation/roomlist', num, rooms[0].Accommodation.Id]">{{num}}</a></li>
    </ul>
</div>