<ul class="list">
    <div>
        <div *ngIf="caption != ''">
            <p>{{caption}}</p>
        </div>
        <li *ngFor="let room of rooms">
            <div class="list">
                <label> Room number: </label>{{room.RoomNumber}}.
                <label> Bed count: </label> {{room.BedCount}}.
                <label> Description: </label> {{room.Description}}.
                <label> Price per night: </label>{{room.PricePerNight}}.
                <label> Accommodation: </label>{{room.Accommodation.Name}}.
                <a [routerLink]="['/mainpage/accommodation/reservationlist', room.Id]">Book</a>
                <a [routerLink]="['/mainpage/rooms/update', room.Id]" >Update</a>
            </div>
            <div class="listseparator">
            </div>
        </li>
    </div>
</ul>