<div class="formborder" id="roomformborder">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
    <div>
      <label for="Latitude">Name: </label>
      <input type="text" name="Name" [value]="region.name">
    </div>
    <div>
        <label for="Owner">Choose country: </label>
        <select name="Country" ngModel>
            <option *ngFor="let country of countries" value="{{country.Id}}">{{country.Name}}</option>
        </select>
    </div>
    <div *ngIf="!isUpdate">
        <input type="submit" value="Add">
    </div>
    <div *ngIf="isUpdate">
        <input type="submit" value="Update">
    </div>
  </form>
</div>