<ul class="list">
	<br/>
    <div >
        <li *ngFor="let accommodation of unapprovedAccommodations">
            <div class="list">
                <div class="topmarg">&nbsp;
                </div>
                <div class="accommname">
                    {{accommodation.Name}}  
                </div>
                <div class="accommimage"> <img alt="" /> </div>
                <div class="description">
                    Description:  {{accommodation.Description}}   <br/>
                    Address:  {{accommodation.Address}}   <br/>
                    Place:  {{accommodation.Place.Name}}   <br/>
			        Accommodation Type: {{accommodation.AccommodationType.Name}} 
                </div>
                    <ul class="accommtabmenuu">
                        <button (click)="approveAccommodation(accommodation.Id)"> Approve </button>
                    </ul>
                    <div class="grade" *ngIf="accommodation.AverageGrade < 2.5">
                        Average grade: <label class="gradecolorred"> {{accommodation.AverageGrade}}</label> <br/>
                    </div>
                    <div class="grade" *ngIf="(accommodation.AverageGrade == 2.5) || (accommodation.AverageGrade <= 3.5)">
                        Average grade: <label class="gradecoloryellow"> {{accommodation.AverageGrade}}</label> <br/>
                    </div>
                    <div class="grade" *ngIf="accommodation.AverageGrade > 3.5">
                        Average grade: <label class="gradecolorgreen"> {{accommodation.AverageGrade}}</label> <br/>
                    </div>
            </div>
            <div class="listseparator">
            </div>
            
        </li>
    </div>
</ul>
<div>
    <ul>
        <li *ngFor="let num of numeration"><a [routerLink]="['/mainpage/accommodation/accommlist', num]">{{num}}</a></li>
    </ul>
</div>

